<form action="/form" method="post"><center>
  What City? <input type="text" name="message" placeholder="Put your city name in here!">
  <br><br><br>
  <input type="submit" value="Get me the time!!!"></center>
</form>